body {
    font-family: 'Poppins', sans-serif; /* Font-Family define o tipo de Fonte do conteudo */
}

main {
    background-color: #dadfe8;
    min-height: 100vh; /* Min-height=Altura. Usado para definir a altura minima da caixa */
    display: flex; /* Deixando a estrutura contida dentro do Main maleavel para manipulação */
    align-items: center; /* Alinhando conteudos contidos dentro da MAIN ao centro verticalmente */
    justify-content:center; /* Alinhando conteudos contidos dentro da MAIN ao centro horizontalmente */
}

.pokedex {    
    display: flex; /* Padrão do Display flex é alinhar os conteudos em linha */
    gap: 30px; /* Gap atributo utilizado para criar espaçamento entre os elementos */
    padding: 30px 0; /* Padding é usado para criar uma espaçamento interno entre os elementos! primeiro atributo referese a CIMA/BAXIO, segundo ESQUERDA/DIREITA*/
}

